.bard {
    background-color: #AB6DAC !important;
}

.cleric {
    background-color: #91A1B2 !important;
}

.druid {
    background-color: #7A853B !important;
}

.paladin {
    background-color: #B59E54 !important;
}

.ranger {
    background-color: #507F60 !important;
}

.sorcerer {
    background-color: #992E2E !important;
}

.warlock {
    background-color: #7B469B !important;
}

.wizard {
    background-color: #2A50A1 !important;
}